* text=auto

# Shell scripts definitely need Linux line endings
*.sh text eol=lf

# dotnet
*.sln merge=union working-tree-encoding=UTF-8 eol=lf
*.csproj merge=union working-tree-encoding=UTF-8 eol=lf
# diff is custom for VisualStudio
*.cs diff=csharp working-tree-encoding=UTF-8 eol=lf diff=csharp
# T4 templates won't properly work unless they have Windows line endings - Don't ask me why
*.tt eol=crlf

# others
*.md working-tree-encoding=UTF-8
*.txt working-tree-encoding=UTF-8
*.DotSettings working-tree-encoding=UTF-8

